* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home,
.services,
.reports,
.contact,
.events,
.support {
  display: flex;
  margin-left: 250px;
  font-size: 2rem;
}
.Register {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: green;
  align-items: center;
}
.schoolstat {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 10 0%;
  height: 400px;
  background-color: #fff;
  margin-top: 3 rem;
  margin-left: 25%;
}

.item .textfield {
  border-radius: 45px;
  width: 100%;
  margin: 30px;
  justify-content: row;
  display: flex;
  flex-direction: center;
}.LINK {
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.image {
  background-image: url("https://images.theconversation.com/files/418872/original/file-20210901-13-19lgusq.jpg?ixlib=rb-1.1.0&rect=0%2C19%2C1000%2C499&q=45&auto=format&w=668&h=324&fit=crop");
  background-size: cover;
  background-repeat: no-repeat;

  width: 1400px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  height: 641px;
}
.lnk {
  text-decoration: none;
  color: green;
}
.container .nst {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: center;
  justify-content: center;
}

.block {
  margin-left: 340px;
}
.stat {
  margin-top: 50px;
  display: flex;
  flex-direction: center;
  justify-content: center;
}
.link1 {
  text-decoration: none;
  color: whitesmoke;
  font-size: xx-large;
}
.link1:hover {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bold;
}
.contactLink {
  text-decoration: none;
  color: black;
}

.create-teacher-inputs {
  display: grid;
  width: 30%;
  text-align: right;
  margin-left: 200px;
  position: relative;
  min-height: 300px;
  margin-top: 3%;
  list-style: none;
  border: 1px solid #77777769;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 50px;
  box-shadow: 0 0 2em #80808066;
  font-family: "Francois One";
}
.create-teacher-inputs2 {
  display: grid;
  width: 30%;
  text-align: left;
  /* padding-right: 30%; */
  margin-left: 800px;
  margin-top: -300px;
  position: relative;
  min-height: 450px;
  list-style: none;
  border: 1px solid #77777769;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 50px 50px 20px 50px;
  box-shadow: 0 0 2em #80808066;
  font-family: "Francois One";
}

.teacherLink {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.teacherLink:hover {
  text-decoration: underline;
}
